*{
	margin: 0;
	padding: 0;
	font-family:century gothic;
}

div{
	background: black;
	height: 70px;
	width: 100%;
}
.name{
	color: white;
	font-size: 35px;
	line-height: 65px;
	padding: 0 100px;
}

ul{
	list-style: none;
	float: right;
	margin-top: 25px;
	margin-right: 100px;
}

ul li{
	display: inline-block;
}
ul li a{
	text-decoration: none; 
	color: white;
	margin-right: 40px;
}

ul img{
	margin-right: 30px;
	float: right;
	margin-top: -5px;
}

a.active,a:hover{
	text-decoration: underline;
	transition: .5s;
}

.banner-text{
	position: absolute;
	font-size: 40px;
	top: 50%;
	text-align: center;
	left: 25%;
	color: #fff;
}

.Sneakers{
	margin: 5px;
	border: 1px solid #ccc;
	float: left;
	width: 300px;
}

.Sneakers img{
	width: 60%;
	height: auto;
}

.desc{
	padding: 15px;
	text-align: center;
}

.Sneakers a{
	border: 1px solid black;
	padding: 10px;
	color: white;
	background: #917d5c;
	text-decoration: none;
	border-radius: 20px;
	cursor: pointer;
}
.Sneakers p{
	margin-bottom: 15px;
} 
.main{
	max-width: 1200px;
	margin: auto;
}
.title{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.title h1{
	color: white;
	font-size: 80px;
	text-decoration: underline;
}
.shop {
	color: white;
	font-size: 15px;
	line-height: 65px;
	padding: 0 100px;
}
.header {
	margin-top: 20px;
	background: white;
	height: 	2px;
}
.gambar{
	width: 90%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin: auto;
	margin-top: 100px;

}
.gambar .foto img{
	width: 300px;
}
.foto {
	border: 1px solid black;
	margin: 10px;
	text-align: center;
	background: white;
}
.foto a{
	border: 1px solid black;
	padding: 10px;
	color: white;
	background: #917d5c;
	text-decoration: none;
	border-radius: 20px;
	cursor: pointer;
}
.foto p{
	margin-bottom: 15px;
} 

.contact
{
	position: relative;
	margin-top: 10px;
	padding: 30px 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.contact .content{
	max-width: 800px;
	text-align: center;
}
.contact .content h2{
	font-size: 36px;
	font-weight: 500;
	color: white;
}
.contact .content p{
	font-weight: 300;
	color: white;
}
.container{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;	
	margin-top: 40px;
	margin-bottom: 40px;
}
.container .contactinfo{
	width:  50%;
	display: flex;
	flex-direction: column;
}
.container .contactinfo .box{
	position: relative;
	padding: 10px 0px;
	display: flex;
}
.container .contactinfo .box .icon{
	min-width: 60px;
	height: 60px;
	background: white;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	font-size: 22px;
}
.container .contactinfo .box .text{
	display: flex;
	margin-left: 20px;
	font-size: 16px;
	color: white;
	flex-direction: column;
	font-weight: 300;
}
.container .contactinfo .box h3{
	font-weight: 500;
	color: #00E5FF;
}

.footer{
	text-align: center;
	color: white;
}
.footer a{
	text-decoration: none;
	color: white;
}
