
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: montserrat;
}



/* Navbar */

.navbar {
    background-color: black;
    font-size: 20px;
    padding: 0px 2px;
    text-transform: capitalize;
    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
	color: white;
	font-size: 35px;
    margin: 5px 0px;
}

.navbar-nav .nav-item {
    margin: 0px 10px;
}

.nav-link {
    color: white;
    font-weight: 500;
}

.nav-link:hover {
    color: #0a9a78;
    text-decoration: underline;
    font-weight: 500;
}

/* Slider */

.slider-menu .carousel-inner .carousel-item img {
    height: 625px;
}

.card{
	margin-top: 100px;

}
.card p{

	margin-top: -10px;
	margin-bottom: 1px;
}

.contact
{
	position: relative;
	margin-top: 100px;
	padding: 30px 80px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.contact .content{
	max-width: 800px;
	text-align: center;
}
.contact .content h2{
	font-size: 36px;
	font-weight: 500;
	color: white;
}
.contact .content p{
	font-weight: 300;
	color: white;
}
.container{
	width: 800%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.container .contactinfo{
	width:  50%;
	display: flex;
	flex-direction: column;
}
.container .contactinfo .box{
	position: relative;
	padding: 10px 0px;
	display: flex;
}
.container .contactinfo .box .icon{
	min-width: 60px;
	height: 60px;
	background: white;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	font-size: 22px;
}
.container .contactinfo .box .text{
	display: flex;
	margin-left: 20px;
	font-size: 16px;
	color: white;
	flex-direction: column;
	font-weight: 300;
}
.container .contactinfo .box h3{
	font-weight: 500;
	color: #00E5FF;
}


.footer{

	text-align: center;
	color: white;
}
.footer a{
	text-decoration: none;
	color: white;
}

